<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>John Anderson ( sontek ) - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/main.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/sourcehighlight.css" type="text/css" />
        <link rel="alternate" type="application/rss+xml" 
            title="John Anderson ( sontek) Latest Blog Entries" 
            href="http://feeds.feedburner.com/sontek/" />
    </head>
    <body>
        <div id="main-container">
            <div id="main-content">
                <div id="main-header">
                    <div id="logo"><a href="/"><img src="{{ MEDIA_URL }}/images/logo.png" alt="sontek.net" /></a></div>
                    <div id="menu">
                        {% load navbar %}
                        {% navbars %}
                    </div>
                </div>
                <div id="main-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="main-footer">
            <div id="main-footer-content">
                <div class="left">
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
