* {
    margin: 0;
    padding: 0;
}
pre {
    color: #000;
    background-color: #CCC;
}

img {
    border: 0;
}
body {
    background-color: #222;
    font-family: Arial, Sans-Serif;
    color: #FFF;
}

a, a:visited  {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main-container {
    background: url("/media/images/body-top-bg.png") #000 repeat-x;
    float: left;
    width: 100%;
}

#main-content, #main-footer-content {
    width: 1000px;
    margin: 0 auto;
}

#main-header {
    height: 90px;
    display: block;
}

#main-header #logo {
    float: left;
}

#main-header #menu {
    padding-top: 20px;
    float: right;
}

#main-header #menu ul, #main-body ul {
    list-style: none;
}

#main-header #menu li {
    display: inline;
    padding-right: 15px;
}

#main-body {
    margin-left: 35px;
    clear: both;
}
#main-body a, #main-body a:visited {
    text-decoration: underline;
}
#main-body-left {
    float: left;
    width: 700px;
}

#main-body-right {
    float: right;
    width: 250px;
}

#main-footer {
    clear: both;
    min-height:200px;
    background: url("/media/images/footer-bg.png") repeat-x;
}

#main-footer-content {
    padding-top: 70px;
    padding-left: 65px;
}

.green-header a, .green-header a:visited {
    color: #51A900;
}

.green-header {
    color: #51A900;
}

#main-footer-content .left {
    float: left;
}
.list-content ul {
   padding-left: 35px;
}
.list-content li {
   margin-bottom: 5px;
   background-color: #222;
   padding: 5px;
}
.list-content .list-title {
    font-weight: bold;
}
.list-content .rss {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding-right: 5px;
    padding-bottom: 2px;
}
.list-content img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}
.title {
    padding-bottom: 10px;
}
.content {
    padding-left: 20px;
    padding-bottom: 10px;
}

#id_honeypot {
    display: none;
}
form label,form textarea {
    display: block;
}
label[htmlFor="id_honeypot"] {
 display:  none;
}

label[for="id_honeypot"] {
 display:  none;
}
.errorlist {
    background-color: #FF0000;
    border: solid 1px #FFF;
}
